services:
  api:
    build: ./api
    container_name: match-chatbot-api
    ports:
      - "3000:3000"
    env_file:
      - ./api/.env
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      - redis
      - postgres
    restart: unless-stopped
  frontend:
    mem_limit: 768m
    cpus: 0.3
    deploy:
      resources:
        limits:
          cpus: "0.30"
          memory: 768M
    build:
      context: ./service-app
    ports:
      - "3001:3001"
    env_file:
      - ./service-app/.env
    restart: unless-stopped

  web:
    container_name: match-chatbot-web
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "3002:80"
    restart: unless-stopped
  postgres:
    image: bitnami/postgresql:latest
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=polls
    ports:
      - "5432:5432"
    volumes:
      - polls_pg_data:/bitnami/postgresql
    restart: unless-stopped

  redis:
    image: bitnami/redis:latest
    environment:
      - REDIS_PASSWORD=8em4UzKx88U99
    ports:
      - "6379:6379"
    volumes:
      - polls_redis_data:/bitnami/redis/data
    restart: unless-stopped

volumes:
  polls_pg_data:
  polls_redis_data:
  uploads_data:
